/* app.css */

/* Import page-specific CSS first */
@import './pages/welcome.css';
@import './pages/login.css';
@import './pages/register.css';

/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global CSS */
body {
    background-color: #201433;
}

/* section {
    height: 100vh;
    width: min(90%, 1000px);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
} */

