body {
    background-color: #201433;
}

section {
    height: 100vh;
    width: min(90%, 1000px);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


