.logo {
    width: min(90%, 1000px);
    margin-inline: auto;
}

.logo h1 {
    font-size: 30px;
    font-weight: 500;
    color: #D6C7FF;
    margin-left: 80px;
    position: absolute;
}

.logo img {
    position: absolute;
    width: auto;
    height: 65px;
    top: 10px;
}

/* Default (desktop) */
.welcome-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.welcome-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('/public/images/backgrounds/galaxy.jpg') center/cover no-repeat;
    opacity: 0.40; /* 👈 image lang ang nagiging transparent */
    z-index: -1;
}

.welcome-section {
    height: 100vh;
    width: min(90%, 1000px);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.get-started {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.moni-wave {
    display: none;
}

.moni-wave img {
    height: 200px;
    border-bottom: 2px solid #FFFFFF;
}

.intro-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-welcome h1 {
    font-size: 40px;
    font-weight: 500;
    color: #D6C7FF;
}

.intro-welcome h4 {
    font-size: 30px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.intro-welcome p {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.get-started-btn {
    height: 40px;
    width: 60%;
    background-color: #00FFD1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #201433;
    font-weight: 600;
    text-decoration: none;
}


/* Tablet */
@media (max-width: 900px) {
    .get-started {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0;
    }

    .moni-wave {
        display: block;
    }

    .intro-welcome {
        align-items: center;
    }

    .get-started-btn {
    height: 40px;
    width: 450px;
    background-color: #00FFD1;
    }

    .moni-float {
        display: none;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .welcome-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('/public/images/backgrounds/galaxy-mobile.png') center/cover no-repeat;
    opacity: 0.40; /* 👈 image lang ang nagiging transparent */
    z-index: -1;
    }

    .intro-welcome h1 {
    font-size: 30px;
    }

    .intro-welcome h4 {
        font-size: 20px;

    }

    .intro-welcome p {
        font-size: 14px;
    }

    .get-started-btn {
    height: 40px;
    width: 300px;
    background-color: #00FFD1;
    }
}
